# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Fall break 2020 catchup.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\wyngt\OneDrive\Desktop\Animation\1610Fall2020\github repo\Fall break 2020 catchup\.idea\.idea.Fall break 2020 catchup\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
