# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.What I want.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\wyngt\OneDrive\Desktop\Animation\1610Fall2020\github repo\What I want\.idea\.idea.What I want\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
